.rangking {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    display: inline-block;
    margin: 40px 40px;
}

.rangking td, .rangking th {
    border: 1px solid #ddd;
    padding: 20px;

}

.rangking th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #8b8181;
    color: white;
}



